/* CountdownTimer Style */
.container {
    user-select: none;
}

.content {
    display: inline-flex;
    flex-direction: row;
}

.item {
    padding-inline: 15px;
    margin-inline: 10px;
}

/* TimerItem Style */
.itemContainer {
    display: inline-block;
    height: auto;
}

.itemContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.itemValue {
    font-size: 7.625rem;
    font-weight: 600;
    line-height: 110px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.itemName {
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}