.app {
  text-align: center;
}

.background {
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: transform .3s ease-out;
}

.background-item {
  background-image: url(assets/imgs/backgroud_images/daytime/003.jpg);
  opacity: 0;
  transition: transform .3s ease-out;
  animation: fade-in .3s ease-out 0s forwards;
  -webkit-animation: fade-in .3s ease-out 0s forwards;
  filter: blur(1px);
}

.background,
.background-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.background-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: url(assets/imgs/backgroud_images/background-overlay-vignette.png);
  background-size: 100% 100%;
  opacity: 1;
  transition: opacity .5s ease-out;
  animation: fade-in .5s ease-out 0s forwards;
  -webkit-animation: fade-in .5s ease-out 0s forwards;
}

.main {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: opacity .5s ease;
  animation: fade-in .5s ease 0s forwards;
  -webkit-animation: fade-in .5s ease 0s forwards;
}

.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.greeting {
  line-height: 0px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9); 
}

@keyframes fade-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fade-in { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fade-in { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fade-in { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
