@font-face {
  font-family: "Binggrae";
  font-weight: 300;
  src: url("assets/fonts/Binggrae.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Binggrae", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

